@mixin fontSettings($fontFamily, $fontStyle, $fontWeight, $fontSize, $lineHeight) {
    font-family: $fontFamily, sans-serif;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
}

@mixin breackpoint($br) {
    @media (max-width: $br){
        @content;
    }
}