.contentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    // position: relative;

    .fa-align-justify{
        display: none;
    }
    .fa-times{
        display: none;
        font-size: 40px;
        cursor: pointer;
    }

    .mobile{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        width: 100%;
        left: 0;
        background-color: #fff;
        padding-left: 50px;
        z-index: 5;
        transition: display .5s ease-in-out;

        &__item{
            text-decoration: none;
            margin-bottom: 10px;
            color: #000;
            @include fontSettings("Red Hat Display", normal, 700, 25px, 19px);
        }
    }
}

@include breackpoint($miniDesktop-width){
    .logo{
        &__img{
            width: 205px;
        }
    }
}
@include breackpoint($tablet-width){
    .logo{
        display: none;
    }
}