<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="logo">
                <img src="../assets/images/Jet descr.svg" alt="Logo" class="logo__img">
            </div>
            <nav class="nav nav--footer">
                <a href="#" class="nav__item nav__item--footer">инвесторам</a>
                <a href="#" class="nav__item nav__item--footer">предпринимателям</a>
                <a href="#" class="nav__item nav__item--footer">партнерам</a>
            </nav>
            <nav class="nav nav--footer">
                <a href="#" class="nav__item nav__item--footer">документы</a>
                <a href="#" class="nav__item nav__item--footer">о платформе</a>
                <a href="#" class="nav__item nav__item--footer">новости</a>
            </nav>
            <p class="footer__adress">
                Москва, территория инновационного центра «Сколково», ул. Нобеля, д. 5, эт/пом/раб 2/8/2
            </p>
            <div class="footer__btn">
                <button class="btn">
                    <span class="btn__text">Войти </span>
                    <img src="../assets/images/icons/enter__logo.svg" alt="Enter" class="btn__logo">
                </button>
            </div>
            
            <div class="copyright">
                <p class="copyright__text">
                    © 2018 —2021 Все права защищены
                    ООО «ДжетЛэнд», официальный сайт
                    Лицензия ЦБ РФ №18
                </p>
                <div class="reclam reclam--footer">
                    <img src="./assets/images/Group.svg" alt="">
                    <span class="reclam__text">Банк России</span>
                    <img src="./assets/images/Sk.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
