<header class="header">
    <div class="container">
        <div class="contentHeader">
            <div class="logo">
                <img src="../assets/images/logo.jpg" alt="Logo" class="logo__img">
            </div>
            <i class="fas fa-align-justify"></i>
            <i class="fas fa-times"></i>
            <nav class="nav nav--header">
                <a href="#" class="nav__item">инвесторам</a>
                <a href="#" class="nav__item">предпринимателям</a>
                <a href="#" class="nav__item">о платформе</a>
                <a href="#" class="nav__item">новости</a>
            </nav>
            <button class="btn">
                <span class="btn__text">Войти </span>
                <img src="../assets/images/icons/enter__logo.svg" alt="Enter" class="btn__logo">
            </button>
            <div class="mobile">
                <a href="#" class="mobile__item">инвесторам</a>
                <a href="#" class="mobile__item">предпринимателям</a>
                <a href="#" class="mobile__item">о платформе</a>
                <a href="#" class="mobile__item">новости</a>
            </div>
        </div>
    </div>
</header>
